<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Student" type="com.zw.entity.Student"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/zw/data/StudentMapper.xml" /> 
	</mappers>
</configuration>	
